ChallengeResponseAuthentication no
Port 2222
PrintMotd no
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PermitTunnel no
#Subsystem sftp /usr/lib/openssh/sftp-server
PermitTTY no
ForceCommand /usr/local/bin/backplane-ssh